<h2>Vehicles</h2>

<a class="btn btn-primary btn-lg" routerLink="/vehicles/new">
  New Vehicle
</a>

<div class="card">
  <div class="form-group card-body">
    <label for="make">Make</label>
    <select id="make" class="form-control" [(ngModel)]="query.makeId" (change)="onFilterChange()">
      <option value=""></option>
      <option *ngFor="let m of makes" value="{{m.id}}">
        {{m.name}}
      </option>
    </select>
    <button type="button" class="btn btn-secondary" (click)="resetFilter()">
      Reset
    </button>
  </div>
</div>

<table class="table">
  <thead>
  <tr>
    <th scope="col">Id</th>
    <th scope="col" (click)="sortBy('make')">
      Make
      <fa-icon
        *ngIf="query.sortBy === 'make'"
        [icon]="setSortIcon()"></fa-icon>
    </th>
    <th scope="col" (click)="sortBy('model')">
      Model
      <fa-icon
        *ngIf="query.sortBy === 'model'"
        [icon]="setSortIcon()"></fa-icon>
    </th>
    <th scope="col" (click)="sortBy('contactName')">
      <fa-icon
        *ngIf="query.sortBy === 'contactName'"
        [icon]="setSortIcon()"></fa-icon>
      Contact Name
    </th>
    <th scope="col">Edit</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let v of vehicles">
    <th scope="row">{{v.id}}</th>
    <td>{{v.make.name}}</td>
    <td>{{v.model.name}}</td>
    <td>{{v.contact.name}}</td>
    <td>
      <a [routerLink]="['/vehicles', v.id]">
        View
      </a>
    </td>
  </tr>
  </tbody>
</table>
